<h1 id="projekt-sdizo-2">Projekt SDiZO 2</h1>
<h2 id="badanie-struktur-grafowych.">Badanie struktur grafowych.</h2>
<h3 id="adam-cierniak-241310">Adam Cierniak, 241310</h3>
<p><br></p>
<h2 id="wstęp">Wstęp</h2>
<h3 id="cel-projektu">Cel projektu</h3>
<p>Zbadanie efektywności algorytmów grafowych: wyznaczanie minimalnego drzewa rozpinającego oraz najkrótszych ścieżek w zależności od rozmiaru instancji oraz sposobu reprezentacji w pamięci komputera: macierz sąsiedztwa, lista sąsiedztwa. Program stworzony do badań został napisany w języku C++. Czas mierzony był za biblioteki chrono. Liczby wierzchołków użyte do testowania to 10, 20, 30, 40, 50, natomiast gęstości grafów to 25%, 50%, 75%, 99%. Do procesu generacji użyte zostały funkcje z biblioteki random, dzięki czemu liczy losowane były z rozkładem jednostajnym. Wagi krawędzi losowane były z przedziału w przypadku wag nieujemnych, natomiast w przypadku wag ujemnych z przedziału &lt;0, 100&gt;. Generacja grafu polegała na losowaniu wierzchołka początkowego, a następnie wierzchołka końcowego dopóki wylosuje się wartość wierzchołka niepołączonego już z wierzchołkiem początkowym.</p>
<h3 id="zaimplementowane-algorytmy">Zaimplementowane algorytmy</h3>
<ul>
<li><p>Prima - algorytm zachłanny wyznaczający tzw. minimalne drzewo rozpinające (MDR). Mając do dyspozycji graf nieskierowany i spójny, tzn. taki w którym krawędzie grafu nie mają ustalonego kierunku oraz dla każdych dwóch wierzchołków grafu istnieje droga pomiędzy nimi, algorytm oblicza podzbiór E′ zbioru krawędzi E, dla którego graf nadal pozostaje spójny, ale suma kosztów wszystkich krawędzi zbioru E′ jest najmniejsza możliwa</p></li>
<li><p>Kruskala - algorytm grafowy wyznaczający minimalne drzewo rozpinające dla grafu nieskierowanego ważonego, o ile jest on spójny. Innymi słowy, znajduje drzewo zawierające wszystkie wierzchołki grafu, którego waga jest najmniejsza możliwa.</p></li>
<li><p>Dikstry - mając dany graf z wyróżnionym wierzchołkiem (źródłem) algorytm znajduje odległości od źródła do wszystkich pozostałych wierzchołków. Łatwo zmodyfikować go tak, aby szukał wyłącznie najkrótszej ścieżki do jednego ustalonego wierzchołka, po prostu przerywając działanie w momencie dojścia do wierzchołka docelowego.</p></li>
<li><p>Belmana Forda - algorytm służący do wyszukiwania najkrótszych ścieżek w grafie ważonym z wierzchołka źródłowego do wszystkich pozostałych wierzchołków</p></li>
</ul>
<h2 id="sposób-testowania">Sposób testowania</h2>
<p>Każdy algorytm został przetestowany dla 10, 20, 30, 40 i 50 wierzchołków, z zapełnieniem 25, 50, 75 i 99-procentowym.</p>
<p>Wygenerowane zostało po 100 instancji każdego z probemów, a średnie poszczególnych czasów zostały naniesione na wykresy.</p>
<p>Program wyświetla każdy wygenerowany graf i rozwiązanie każdego algorytmu, można więc sprawdzić poprawność działania chodźby za pomocą ołówka i kartki papieru.</p>
<h2 id="wykresy---typ-1">Wykresy - typ 1</h2>
<p>Osobne dla każdej reprezentacji grafu (macierz, lista). 8 linii, po jednej dla każdej pary (Typ algorytmu, gęstośc).</p>
<p><img src="plots/type_1_dijkstra_belman_list.png" /></p>
<p><img src="plots/type_1_dijkstra_belman_matrix.png" /></p>
<p><img src="plots/type_1_prim_kruskal_list.png" /></p>
<p><img src="plots/type_1_prim_kruskal_matrix.png" /></p>
<p><br><br><br><br><br><br><br><br><br><br><br><br></p>
<h2 id="wykresy---typ-2">Wykresy - typ 2</h2>
<p>Osobne dla każdej gęstości grafu - porównują wydajność macierzowej i listowej implementacji grafu.</p>
<h3 id="wyszukiwanie-ścieżki---dijkstrabelman-ford">Wyszukiwanie ścieżki - Dijkstra/Belman-Ford</h3>
<p><img src="plots/type_2_dijkstra_belman_25.png" /></p>
<p><img src="plots/type_2_dijkstra_belman_50.png" /></p>
<p><img src="plots/type_2_dijkstra_belman_75.png" /></p>
<p><img src="plots/type_2_dijkstra_belman_99.png" /></p>
<p><br><br><br><br><br><br><br><br><br><br><br><br></p>
<h3 id="mst---primkruskal">MST - Prim/Kruskal</h3>
<p><img src="plots/type_2_prim_kruskal_25.png" /></p>
<p><img src="plots/type_2_prim_kruskal_50.png" /></p>
<p><img src="plots/type_2_prim_kruskal_75.png" /></p>
<p><img src="plots/type_2_prim_kruskal_99.png" /></p>
<h2 id="wnioski">Wnioski</h2>
<p>Testy algorytmów dały spodziewane wyniki, to znaczy takie jakie wynikały z ich złożoności obliczeniowej. Podczas testowania czasu wykonania algorytmu Dijkstry i Belmana-Forda, dla gęstości wypełnienia 99%, linie na wykresie nałożyły się na siebie. Próbowałem poprawić to poprzez zmianę rozdzielczości osi Y jednak wykres stawał się wtedy mało czytelny dlatego zostawiłem to w stanie takim jak wyżej.</p>
